$color-primary: rgba(8, 195, 164, 1);
$color-primary-light: rgba(92, 225, 195, 1);

$color-primary-hover: rgba(0, 176, 148, 1);
$color-primary-active: rgba(0, 155, 130, 1);

$color-background-primary: rgba(11, 20, 23, 1);
$color-background-secondary: rgba(20, 31, 35, 1);
$color-background-tertiary: rgba(29, 43, 50, 1);
$color-background-hover: rgba(18, 30, 34, 1);
$color-background-active: rgba(18, 30, 34, 1);

$color-border: rgba(31, 42, 48, 1);
$color-border-hover: rgba(42, 58, 64, 1);
$color-border-selected: rgba(8, 195, 164, 1);
