body,
html,
* {
    font-family: "Rajdhani";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html {
    margin: 0;
    padding: 0;
}
